.div{
    
    background-color: darkkhaki;
height: 1000px;
}
.h2{
    color: white;
  text-align: center;
}

.div2{
 
   

padding: 10px;
  background-color: cadetblue;
  width: 480px;
  border: solid rgb(107, 71, 71) 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  

  
}
