<div class="div">
    <h2 class="h2">SignUp Form</h2>
    <div class="div2">
      
        <form [formGroup]="signUpForm" >
           
            <mat-form-field>
                <mat-label>username</mat-label>
                <input matInput type="text" formControlName="userName">
              </mat-form-field>&nbsp;
    
     
              
              <mat-form-field>
                <mat-label>Mobile No.</mat-label>
                <input matInput type="text" formControlName="MobileNo">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput type="text" formControlName="Address">
              </mat-form-field>&nbsp;
              
                  <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email">
              </mat-form-field>
              
              <mat-form-field>
                <mat-label>Companies</mat-label>
                <input matInput type="text" formControlName="companies">
              </mat-form-field>&nbsp;
              
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="text" formControlName="password">
              </mat-form-field><br><br>
              

            
    
            <button mat-raised-button color="primary" (click)="submit()" [disabled]="!signUpForm.valid">{{this. editId ?
                'Update':'Submit'}}</button>

           
    </form>
    </div>
</div>
