.div{
    
    background-color: darkkhaki;

}
.h2{
    color: white;
  text-align: center;
}

.div2{
padding: 10px;
  background-color: cadetblue;
  width: max-content;
  border: solid rgb(107, 71, 71) 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  

  
}