<div>
    
    <div class="container">
       
        <button mat-raised-button color="accent" (click)="login()" class="btns">login</button>&nbsp;&nbsp;
        <button mat-raised-button color="accent" (click)="signup()" class="btns2">signup</button>
    </div>

    <div class="container2">

        <button mat-raised-button color="accent" (click)="dashboard()" class="btns3">dashboard</button><br><br>&nbsp;
        <button mat-raised-button color="accent" (click)="userform()" class="btns3">user</button>
    </div>
</div>