.container {
    background-color: rgb(218, 179, 83);
    height: 10%;
    width: 100%;
    
}
.btns{
    margin-left: 1150px;
    margin-top: 20px;
}
.btns2{
    margin-left: 1050px; 
    margin-top: -55px;  
}

.btns3{
margin: 10px 10px;
background-color: darkseagreen;
border: hidden;
}

.container2{
    background-color: darkseagreen;
    height: 540px;
    width: 10%;
    padding: 10px 15px;
}
.example-spacer {
    flex: 1 1 auto;
  }
  
